.card{
    border: 1px solid #eee;
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    background: white;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.send-icon{
    width: 50px !important;
    height: 50px !important;
}

.card img{
    width: 100%;
    border-radius: 8px;
    height: 300px;
}

.price{
    font-weight: bold;
    margin: 10px 0;
}

.rating{
    margin: 10px 0;
}

.btn{
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid steelblue;
    background: steelblue;
    text-decoration: none;
    color: white;
    font-size: 14px;
    
}

a{
    text-decoration: none;
    color: white;
}

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal{
    background: white;
    padding: 20px;
    border-radius: 12px;
    position: relative;
    max-width: 600px;
    width: 100%;
}

.modal-image{
    width: 50%;
    height: 50%;
    border-radius: 8px;
    
}

.close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.navigation{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}