body{
            background: #f0f2f5;
        }
        .logo{
            width: 320px;
            

        }
        .fb_content{
            padding: 100px 0;
        }
        .main{
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1000px;
            margin: 0 auto;
            
        }
        .context{
            font-size: 28px;
            line-height: 32px;
            font-family: -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

            font-weight: 400;

        }
        .register{
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }
        .left{
            width: 50%;
        }
        .right{
            width: 40%;
        }
        .face{
            display: flex;
            width: 580px;
        }
        .forma{
            display: flex;

        }
        .cr{
            text-align: center;
            font-size: 14px;
            font-family: -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        }
        .create-page{
            font-weight: 500;
            text-decoration: none;
        }
        .context-buttom{
            font-weight: 400;
        }
        .send-email{
            height: 22px;
            width: 330px;
            font-size: 17px;
            border-color: rgba(0, 0, 0, 0.2);
            border-width: 1px;
            border-radius: 6px;
            padding: 14px 16px;
            margin-bottom: 6px;
        }
        .send-email:focus{
            border-color: #1877f2;
            box-shadow: 0 0 0 2px rgba(24, 119, 242, 0.2);
            outline: none;
        }
        .send-password{
            height: 22px;
            width: 330px;
            font-size: 17px;
            border-color: rgba(0, 0, 0, 0.2);
            border-width: 1px;
            border-radius: 6px;
            padding: 14px 16px;
            margin-top: 6px;
            margin-bottom: 6px;
        }
        .send-password:focus{
            border-color: #1877f2;
            box-shadow: 0 0 0 2px rgba(24, 119, 242, 0.2);
            outline: none;
        }
        .login{
            margin-top: 12px;
            height: 48px;
            width: 365px;
            border-width: 0px;
            border-radius: 6px;
            background: rgb(8, 102, 255);
            color: white;
            justify-content: center;
            padding: 14px 16px;
            font-size: 20px;
            font-weight: 700;

        }
        .login:hover{
            background: rgb(24, 119, 242);
        }

        .for{
            margin-top: 16px;
            line-height: 16px;
            font-size: 12px;
            text-align: center;

        }
        .forget{
            font-size: 14px;
            font-weight: 500;
            height: auto;
            color: rgb(8, 102, 255);
            text-decoration: none;
            font-family: -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        }
        .forget:hover{
            text-decoration: underline;
        }
        .first-hr{
            margin-top: 20px;
            margin-bottom: 20px;
            width: 365px;
        }
        .new{
            padding-top: 6px;
            text-align: center;
        }

        .create-new{
            width: 250px;
            justify-content: center;
            background: rgb(66, 183, 42);
            color: white;
            padding-left: 16px;
            padding-right: 16px;
            height: 48px;
            font-weight: 700;
            font-size: 17px;
            font-family: -apple-system, BlinkMacSystemFont,
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
            border-width: 0px;
            border-radius: 6px;
            margin-bottom: 6px;

        }
        .create-new:hover{
            background: rgb(54, 164, 32);
        }
        .cr a:visited{
            color: black;
        }

        footer{
            background: white;
            padding: 20px;
        }

        .buttom-bar{
            max-width: 1000px;
            margin: 0 auto;
            font-size: 12px;
            font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        }

        ul{
            display: flex;
            gap: 4px 18px;
            list-style: none;
            margin: 0;
            padding: 0;
            flex-wrap: wrap;

        }
        ul a{
            text-decoration: none;
            color: rgb(115, 115, 115);
        }
        ul a:hover{
            text-decoration: underline;
        }
        .last{
            color: rgb(115, 115, 115);
            font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        }
        